<ol class="list publication-list" reversed>
<% for (const item of items) { %>
  <li <%=metadataAttrs(item) %>>
    <div class="publication-info">
      <span class="listing-date">(<%= item.date %>)</span>
      <span class="listing-author"><%= item.author %></span>.
      <a href="<%- item.path %>">
        <span class="listing-title"><%= item.title %></span>
        <% if (item.subtitle) { %>: <span class="listing-subtitle subtitle"><%= item.subtitle %></span><% } %>
      </a>.
      <% if (item["container-title-short"]) { %>
        <span class="listing-publication fst-italic"><%= item["container-title-short"] %></span>.
      <% } else if (item.citation["container-title-short"]) { %>
        <span class="listing-publication fst-italic"><%= item.citation["container-title-short"] %></span>.
      <% } else if (item["container-title"]) { %>
        <span class="listing-publication fst-italic"><%= item["container-title"] %></span>.
      <% } else if (item.citation["container-title"]) { %>
        <span class="listing-publication fst-italic"><%= item.citation["container-title"] %></span>.
      <% } %>
    </div>
  </li>
<% } %>
</ol>